[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
requests = "*"
pango-aliasor = "*"
"mastodon.py" = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
